.main{
    padding: 20px;
    .globalWrapper{
        margin-bottom: 40px;
        .item{
            margin-bottom: 10px;
        }
    }
    .title{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
    }
    .cont{
        .row{
            display: flex;
            align-items: center;
            margin-bottom: 14px;
        }
    }
}
