.main{
    .pageAbsolute();
    top: 140px;

    .cont{
        padding: 40px;
        .logoWrapper{
            text-align: center;
            .logoImg{
                width: 200px;
            }
        }
        .list{
            .item{
                display: flex;
                margin-bottom: 40px;
                padding: 20px;
                background: #41b883;
            }
        }
    }

}
